body {
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  height: 100vh;
}

.toggle-button {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  padding: 20px;
}