/* Arquivo style.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

nav ul li.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  color: #333;
}

.dropdown-menu li:hover {
  background-color: #e5e5e5;
}
